
@{
    ViewBag.Title = "OrderSuccess";
}

<div style="padding: 20px 0px 20px 10px; ">
    <h2>Đơn hàng của bạn đã đặt thành công. Vui lòng nhấn @Html.ActionLink("Vào Đây", "Index", "Product") để quay lại trang chủ </h2>
</div>
