
@{
    ViewBag.Title = "Index";
}



<div class=" banner-collection-header">

    <img src="https://file.hstatic.net/1000401164/collection/polo_345a451472034259b41679f87b9571a7.png" alt="POLO" />

</div>

<div class="row">
    <div id="collection-body" class="wrap-collection-body clearfix">

        @Html.Partial("_Categories")

        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="wrap-collection-title row">
                @*<div class="heading-collection row">
            <div class="col-md-8 col-sm-12 col-xs-12">

                <h1 class="title">

                    POLO

                </h1>

                <div class="alert-no-filter"></div>

            </div>

            <div class="col-md-4 hidden-sm hidden-xs">
                <div class="option browse-tags">
                    <label class="lb-filter hide" for="sort-by">Sắp xếp theo:</label>
                    <span class="custom-dropdown custom-dropdown--grey">
                        <select class="sort-by custom-dropdown__select">

                            <option value="manual">Sản phẩm nổi bật</option>

                            <option value="price-ascending" data-filter="&sortby=(price:product=asc)">Giá: Tăng dần</option>
                            <option value="price-descending" data-filter="&sortby=(price:product=desc)">Giá: Giảm dần</option>
                            <option value="title-ascending" data-filter="&sortby=(title:product=asc)">Tên: A-Z</option>
                            <option value="title-descending" data-filter="&sortby=(price:product=desc)">Tên: Z-A</option>
                            <option value="created-ascending" data-filter="&sortby=(updated_at:product=desc)">Cũ nhất</option>
                            <option value="created-descending" data-filter="&sortby=(updated_at:product=asc)">Mới nhất</option>
                            <option value="best-selling" data-filter="&sortby=(sold_quantity:product=desc)">Bán chạy nhất</option>
                            <option value="quantity-descending">Tồn kho: Giảm dần</option>
                        </select>
                    </span>
                </div>
            </div>

        </div>*@
            </div>

                <div class="row filter-here">

                    @Html.Partial("_Products")

                    <div class="sortpagibar pagi clearfix text-center">
                        <div id="pagination" class="clearfix">

                        </div>
                    </div>

                </div>

            </div>

    </div>
</div>