
@{
    ViewBag.Title = "Index";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Gallery</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Gallery</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4 class="card-title">Sản phẩm mới</h4>
                        </div>
                        <div class="card-body">
                            <div class="filter-container p-0 row">
                                <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                                    <a href="#" data-toggle="lightbox" data-title="sample 1 - white">
                                        <img src="~/Images/pc_gaming_1.png" class="img-fluid mb-2" alt="white sample" />
                                    </a>
                                </div>
                                <div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample">
                                    <a href="#" data-toggle="lightbox" data-title="sample 2 - black">
                                        <img src="~/Images/pc_gaming_2.png" class="img-fluid mb-2" alt="black sample" />
                                    </a>
                                </div>
                                <div class="filtr-item col-sm-2" data-category="3, 4" data-sort="red sample">
                                    <a href="#" data-toggle="lightbox" data-title="sample 3 - red">
                                        <img src="~/Images/pc_gaming_3.png" class="img-fluid mb-2" alt="red sample" />
                                    </a>
                                </div>
                                <div class="filtr-item col-sm-2" data-category="3, 4" data-sort="red sample">
                                    <a href="#" data-toggle="lightbox" data-title="sample 4 - red">
                                        <img src="~/Images/pc_gaming_asus_01.png" class="img-fluid mb-2" alt="red sample" />
                                    </a>
                                </div>
                                <div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample">
                                    <a href="#" data-toggle="lightbox" data-title="sample 5 - black">
                                        <img src="~/Images/pc_vp_1.png" class="img-fluid mb-2" alt="black sample" />
                                    </a>
                                </div>
                                <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                                    <a href="#" data-toggle="lightbox" data-title="sample 6 - white">
                                        <img src="~/Images/pc_vp_2.jpg" class="img-fluid mb-2" alt="white sample" />
                                    </a>
                                </div>
                                <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                                    <a href="#" data-toggle="lightbox" data-title="sample 7 - white">
                                        <img src="~/Images/pc_vp_3.png" class="img-fluid mb-2" alt="white sample" />
                                    </a>
                                </div>
                                <div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample">
                                    <a href="#" data-toggle="lightbox" data-title="sample 8 - black">
                                        <img src="~/Images/pc1_2.png" class="img-fluid mb-2" alt="black sample" />
                                    </a>
                                </div>
                                <div class="filtr-item col-sm-2" data-category="3, 4" data-sort="red sample">
                                    <a href="#" data-toggle="lightbox" data-title="sample 9 - red">
                                        <img src="~/Images/rtx2060_asus.png" class="img-fluid mb-2" alt="red sample" />
                                    </a>
                                </div>
                                <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                                    <a href="#" data-toggle="lightbox" data-title="sample 10 - white">
                                        <img src="~/Images/tainghe.jpg" class="img-fluid mb-2" alt="white sample" />
                                    </a>
                                </div>
                                <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                                    <a href="#" data-toggle="lightbox" data-title="sample 11 - white">
                                        <img src="~/Images/tn_dareu.jpg" class="img-fluid mb-2" alt="white sample" />
                                    </a>
                                </div>
                                <div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample">
                                    <a href="#" data-toggle="lightbox" data-title="sample 12 - black">
                                        <img src="~/Images/ban_chay_1.png" class="img-fluid mb-2" alt="black sample" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
